.card {
  background-color: #264653;
  color: white;
}

h5,
.hello,
h1,
button {
  font-family: poppins, sans-serif;
}

.nav .logo img {
  width: 50%;
}

.nav .logo h5 {
  color: white;
  font-size: 1.5em;
}

.nav a {
  color: white;
}

.nav a:hover {
  color: #d09f27;
}

.nav .active {
  color: #d09f27;
}

.hello {
  font-size: 1.6em;
}

.btn {
  background-color: #d09f27;
  color: white;
  border: 1px solid #d09f27;
}

.btn:hover {
  background-color: transparent;
  color: #d09f27;
}

.bg-img {
  width: 33%;
  position: absolute;
  right: 0;
  bottom: 0;
}
